body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
}

header, footer {
    background-color: chocolate;
    padding: 20px 0;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #333;
}

footer {
    margin-top: 20px;
}

#companyLogo {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        background-color: #eef
    }
}