@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

body {
    font-family: 'Dosis';
    color: orange;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
    z-index: 1000;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: right;
}

#navbar ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

#navbar ul li {
    display: inline;
    margin-left: 20px;
}

#navbar a {
    color: orange;
}

#menuToggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: orange;
    cursor: pointer;
}

#mobileMenu {
    display: block;
    position: fixed;
    top: 3px;
    border-color: orange;
    right: -100%;
    width: 40%;
    height: 60%;
    background-color: white;
    color: orange;
    z-index: 1500;
    transition: right 0.5s;
}

.mobileMenuVisible {
    right: 0;
}

#mobileMenu ul {
    list-style-type: none;
    padding: 20px;
    text-align: left;
}

#mobileMenu ul li a {
    color: orange;
    display: block;
    padding: 10px;
    text-decoration: none;
}


header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color:#922222;
}

main {
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    font-size:x-small;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

h1, h2 {
    color: orange;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

/* Responsive Design */
.product-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

#companyLogo {
    width: 220px;
    height: inherit;
    float: left;
}

@media (max-width: 600px) {
    #companyLogo {
        width: 200px;
        height: inherit;
    }
    #navbar ul {
        display: none;
    }

    #menuToggle {
        display: inline-block;
    }

    body {
        font-size: 25px;
    }
}